<!DOCTYPE html>
<html>
<head>
    <title>Factura</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />

    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
<header th:replace="~{fragments/header :: header} "></header>

<div class="container">
    <div class="courses-list">
        <h2>Lista de Cursos Disponibles</h2>
        <table>
            <thead>
            <tr>
                <th>id</th>
                <th>nombre</th>
                <th>estado</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="p : ${listaProveedores}">
                <td th:text="${p.getId()}"></td>
                <td th:text="${p.getNombre()}"></td>
                <td>
                    <a th:href="@{/presentation/eliminarCurso(Codigo=${p.getEstado()})}">
                        <SPAN th:text="${p.getEstado()}"></SPAN>
                    </a>
                </td>

            </tr>
            </tbody>
        </table>
    </div>
</div>


<header th:replace="~{fragments/header :: footer} "></header>

</body>
</html>
