<!DOCTYPE html>
<html>
<head>
    <title>Factura</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />

    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
<header th:replace="~{fragments/header :: header} "></header>
<div class="content_form">

    <form class="form_login"  th:action="@{/presentation/login/login}"  th:object="${Usuario}" method="post">
        <p>LOGIN</p>
        <p><IMG src="/images/logo.png" class="logo" style="background: #356EA9"></p>
        <input class="" type="text" th:field="*{identificacion}" name="identificacion"  placeholder="Identificación" required="required"/>
        <input class="" type="password"   name="pass" placeholder="Contraseña" required="required"/>
        <button class="" type="submit">Iniciar sesión</button>
        <p>No tiene cuenta? <a th:href="@{/}">Registrese aquí</a></p>

    </form>
</div>




<header th:replace="~{fragments/header :: footer} "></header>

</body>
</html>
