<!DOCTYPE html>
<html>
<head>
    <title>Factura</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/menu.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />

    <link rel="icon" href="/images/favicon.ico">
</head>
<body>
<header th:replace="~{fragments/header :: header} "></header>
<div class="content_form">

    <form class="form_login"  th:action="@{/presentation/proveedores/registrar}"  th:with="proveedor=${proveedor}, usuario=${usuario}" method="post">
        <p>REGISTRO PROVEEDOR</p>
        <p><IMG src="/images/logo.png" class="logo" style="background: #356EA9"></p>
        <input type="text" th:field="*{usuario.identificacion}" name="identificacion"  placeholder="Identificación" required="required"/>
        <input type="text" th:field="*{proveedor.nombre}" name="nombre"  placeholder="nombre" required="required"/>
        <input type="password" th:field="*{usuario.contrasena}"   name="contrasena" placeholder="Contrasena" required="required"/>
        <button type="submit">Registrar</button>

    </form>
</div>




<header th:replace="~{fragments/header :: footer} "></header>

</body>
</html>
